body {
    margin: 0;
    padding: 0;
   
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/* basic css end here */
/* header area design start */
.header-area {
    background-image: url(img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    height: 100vh;
}

/* header-menu design */
.navbar-light .navbar-toggler {
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 8px 8px;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.navbar-light .navbar-toggler-icon i {
    color: #ffffff;
    padding: 1px 0;
    font-size: 30px;
}

.custom-menu ul li a {
    color: #ffffff !important;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-family: 22px;

}

/* header content design */
.header-content {
    padding: 190px 0;
    color: #ffffff;
    position: relative;
}

.header-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.header-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-top: 25px;
}

.header-content::after {
    position: absolute;
    background-color: #ffffff;
    content: '';
    width: 51%;
    height: 3px;
    top: 32%;
    left: 24%;
}

.header-content::before {
    position: absolute;
    background-color: #ffffff;
    content: '';
    width: 51%;
    height: 3px;
    top: 51%;
    left: 24%;
}

/* header area design start */
/* about part design start */
.about-part {
    padding: 70px 0;
}

.about-content {
    padding: 115px 18px 115px 44px;
}

.about-content h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #737373;
    padding-bottom: 25px;
}

.about-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #737373;
    padding: 9px 0;
    line-height: 27px;
}

.about-content a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    background: #ff2b4a;
    padding: 13px 52px;
    text-decoration: none;
}

.about-button {
    padding-top: 65px;
}

/* about part design end */
/* service part design start */
.service-part {
    padding: 120px 0;
    background: #f6f6f6;
}

.service-content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;
}

.service-content p {
    font-family: 'Roboto', normal;
    font-size: 18px;
    color: #6f6f6f;
    padding-bottom: 35px;
}

/* single service item design */
.item-one {
    background: #10c6fc;
}

.item-two {
    background: #835aeb;
}

.item-three {
    background: #002453;
}

.item-four {
    background: #ff2b4a;
}

.single-service-item {
    padding: 80px 55px 65px 45px;
    color: #ffffff;
}

.icon i {
    font-size: 30px;
}

.icon-content {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 40px;
}

/* service part design end */
/* experience part design start */
.experience-part {
    background-image: linear-gradient(#2c6879, #736a77);
    padding: 65px 0;
    color: #ffffff;
}

.work-experience {
    background-image: linear-gradient(#69647c, #4e647d);
    padding: 65px 100px 65px 50px;
}

.work-experience h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 50px;
}

.work-experience h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 8px;
}

.work-experience p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #dddddd;
    width: 113%;
}

/* experience part design end*/
/* portfolio part design start */
.portfolio-part {
    padding: 50px 12%;
}

.portfolio-content h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 30px;
}

.portfolio-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7f7f7f;
    padding-bottom: 18px;

}

/* portfolio part design end */
/* testimonial slider design start */
.testimonial-slider {
    background: #64cbc0;
    padding: 140px 0 50px 160px;
}

.slider-content i {
    color: #317688;
    font-size: 50px;
    padding-bottom: 40px;
}

.slider-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1d4440;
    line-height: 28px;
}

.sign-part {
    padding-top: 75px;

}

.sign-part h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #1d4440;
    font-size: 18px;
    padding-top: 30px;
}

.slider-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1d4440;
    line-height: 28px;
    width: 115%;
}

.slider-image img {
    width: 75%;
}

.slider-image {
    padding: 0px 18px 45px 125px;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #353A4F;
}

.custom-indicator {
    padding-right: 95px;
    margin-bottom: -20px;
}

/* testimonial slider design end */
/* contact part design start */
.contact-area {
    background-image: linear-gradient(#2c6879, #736a77);
    padding: 110px 0;
}

.left-contact {
    background-image: linear-gradient(#69647c, #4e647d);
    box-shadow: 0px 0px 5px #737373;
    padding: 50px 40px;
}

.left-contact h3 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.form-group .form-control {
    padding: 25px 25px;
    font-size: 18px;
    background: none;
    border-radius: 2px;
}

.form-group .form-control::placeholder {
    color: #ffffff;
    background: none;
}

.custom-btn {
    background: #ff2b4a;
    color: #ffffff;
    padding: 12px 80px;
    border-radius: 0;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.5s all ease;
}

.custom-btn:hover {
    color: #ff2b4a;
    background: #ffffff;
}

.custom-button {
    padding-top: 20px;
}

.right-contact-bg {
    background-image: linear-gradient(#4e647d, #69647c);
    padding: 42px 35px;
    color: #ffffff;
    box-shadow: 0px 0px 5px #737373;
}

.right-contact h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
}

.right-contact p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.address-portion p {
    width: 105%;
    line-height: 27px;

}

.web-portion a {
    color: #ffffff;
    text-decoration: #ffffff;
    cursor: pointer;
}

/* contact part design end */
/* footer part design start */
.footer-part {
    padding: 50px 0 45px 0;
    background: #222222;
    color: #aaaaaa;
}

.social-icon i {
    color: #aaaaaa;
}

.social-icon i:hover {
    color: #ff2b4a;
}

..footer-part p {
    font-family: 'Roboto', normal;
    font-size: 15px;
    padding-top: 15px;
    letter-spacing: 1px;
}

/* footer part design end */
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */